<div class="page" data-name="profilo">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">Profilo</div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <template id="tmpl-profilo">
      <li>
        <div class="card-userdata">
        <a href="#" class="item-link item-content" data-id="{id}">
          
          <div class="card-content card-content-padding">
          <div class="row_avatar">
          <div class="col">
          <div class="item-media"><img src="{icon}"
            width="80" height="80"/></div>
          </div>
          </div>
          
            <div class="row">
            <div class="col">
            <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">{utente}</div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="block punteggi">
              <div class="row">
              <div class="col">
              <div class="card">
                <div class="card-content card-content-padding">
                <div class="row">
                <div class="col">
                <div class="item-inner">
                  <div class="row">
                    <h3>Punteggio</h3>
                    <div class="col bignumber">{punteggio}</div>
                  </div>
                </div>
                </div>
              </div>
          </div>
          </div>
          </div>
          
          

          <div class="col">
            <div class="card">
            <div class="card-content card-content-padding">
              <div class="row">
              <div class="col">
              <div class="item-inner">
                <div class="row">
                  <h3>Posizione</h3>
                  <div class="col bignumber">{posizione}°</div>
                </div>
              </div>
              </div>
              </div>
            </div>
          </div>
          </div>
          </div>
        </a>
        </div>
      </li>
    </template>
    <div class="list media-list profilo">
      <ul>
      <div class="gauge demo-gauge"></div>
      </ul>
    </div>
  </div>
</div>